<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}SADJIACERAM{% endblock %}</title>

    {% block stylesheets %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel='stylesheet' id='global-css' href="{{ asset('vendors/bootstrap/dist/css/bootstrap.min.css') }}">
        <link rel='stylesheet' id='global-css' href="{{ asset('vendors/font-awesome/css/font-awesome.min.css') }}">
        <link rel='stylesheet' id='global-css' href="{{ asset('vendors/nprogress/nprogress.css') }}">
        <link rel='stylesheet' id='global-css' href="{{ asset('vendors/iCheck/skins/flat/green.css') }}">
        <link rel='stylesheet' id='global-css' href="{{ asset('vendors/datatables.net-bs/css/dataTables.bootstrap.min.css') }}">
        <link rel='stylesheet' id='global-css' href="{{ asset('vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css') }}">
        <link rel='stylesheet' id='global-css' href="{{ asset('vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css') }}">
        <link rel='stylesheet' id='global-css' href="{{ asset('vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css') }}">
        <link rel='stylesheet' id='global-css' href="{{ asset('vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css') }}">
        <link rel='stylesheet' id='global-css' href="{{ asset('vendors/switchery/dist/switchery.min.css') }}">
        <link rel='stylesheet' id='global-css' href="{{ asset('build/css/custom.css') }}">
        <style>
            .etat{
                display: none;
            }
        </style>


    {% endblock %}

</head>

<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">
                <div class="navbar nav_title" style="border: 0;">
                    <a href="" class="site_title"> <span style="font-size: 20px;"></span></a>
                </div>

                <div class="clearfix"></div>

                <!-- menu profile quick info -->
                <div class="profile">
                    <div class="profile_pic">
                        <img src="{{ asset('images/img.jpg')}}" alt="..." class="img-circle profile_img">

                    </div>
                    <div class="profile_info" style="margin-left: -16px; font-size: 12px;">

                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            <p> {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}</p>
                        {% endif %}
                    </div>
                </div>
                <!-- /menu profile quick info -->

                <br />

                <!-- sidebar menu -->
                <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                    <div class="menu_section">
                        <br><br><br><br>
                        <ul class="nav side-menu">

                            <li><a><i class="fa fa-newspaper-o"></i>Site web <span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu" style="">

                                    <li><a href="{{ path('admin_bannieres_index') }}">Bannieres PUB Accueil</a></li>
                                    <li><a href="{{ path('admin_categories_index') }}">Categories</a></li>
                                    <li><a href="{{ path('admin_produits_index') }}">Produits </a></li>
                                    <li><a href="{{ path('admin_neufs_index') }}">Visite Virtuel</a></li>

                                    <li><a href="{{ path('admin_about_edit', { 'id': 1 }) }}">Á propos</a></li>




                                </ul>
                            </li>



                        </ul>
                    </div>


                </div>
                <!-- /sidebar menu -->

                <!-- /menu footer buttons -->
                <div class="sidebar-footer hidden-small">


                    <a data-toggle="tooltip" data-placement="top" title="Se déconnecter" href="{{ path('fos_user_security_logout') }}">
                        <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                    </a>
                </div>
                <!-- /menu footer buttons -->
            </div>
        </div>

        <!-- top navigation -->
        <div class="top_nav">
            <div class="nav_menu">
                <nav>
                    <div class="nav toggle">
                        <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                    </div>

                    <ul class="nav navbar-nav navbar-right">
                        <li class="">
                            <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                <img src="{{ asset('images/img.jpg')}}" alt="">

                                <span class=" fa fa-angle-down"></span>
                            </a>
                            <ul class="dropdown-menu dropdown-usermenu pull-right">


                                <li><a href="{{ path('cosanit_homepage') }}" target="_blank"><i class="fa fa-sign-out pull-right"></i> Voir le site</a></li>
                                <li><a href="{{ path('fos_user_change_password') }}"><i class="fa fa-sign-out pull-right"></i> Changer mot de passe</a></li>
                                <li><a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-sign-out pull-right"></i> Se déconnecter</a></li>
                            </ul>
                        </li>

                        <li role="presentation" class="dropdown">


                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <!-- /top navigation -->



{% block body %}


{% endblock %}
    </div>
</div>
<footer>
    <div class="pull-right">

    </div>
    <div class="clearfix"></div>
</footer>
</div>
</div>

{% block javascripts %}


    <script type="text/javascript" src="{{ asset('vendors/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('vendors/fastclick/lib/fastclick.js') }}"></script>
    <script type="text/javascript" src="{{ asset('vendors/nprogress/nprogress.js') }}"></script>

    <!-- Add mousewheel plugin (this is optional) -->
    <script type="text/javascript" src="{{ asset('fancybox/lib/jquery.mousewheel-3.0.6.pack.js') }}"></script>
    <!-- Add fancyBox -->
    <link rel='stylesheet' href="{{ asset('fancybox/source/jquery.fancybox.css') }}">

    <script type="text/javascript" src="{{ asset('fancybox/source/jquery.fancybox.pack.js') }}"></script>

    <!-- Optionally add helpers - button, thumbnail and/or media -->

    <link rel='stylesheet' href="{{ asset('fancybox/source/helpers/jquery.fancybox-buttons.css') }}">
    <script type="text/javascript" src="{{ asset('fancybox/source/helpers/jquery.fancybox-buttons.js') }}"></script>
    <script type="text/javascript" src="{{ asset('fancybox/source/helpers/jquery.fancybox-media.js') }}"></script>

    <link rel='stylesheet' href="{{ asset('fancybox/source/helpers/jquery.fancybox-thumbs.css') }}">

    <script type="text/javascript" src="{{ asset('fancybox/source/helpers/jquery.fancybox-thumbs.js') }}"></script>

    <script type="text/javascript" src="{{ asset('vendors/datatables.net/js/jquery.dataTables.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('vendors/datatables.net-bs/js/dataTables.bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('vendors/datatables.net-buttons/js/dataTables.buttons.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('vendors/datatables.net-buttons/js/buttons.flash.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('vendors/datatables.net-buttons/js/buttons.html5.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('vendors/datatables.net-buttons/js/buttons.print.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('vendors/datatables.net-keytable/js/dataTables.keyTable.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('vendors/datatables.net-responsive/js/dataTables.responsive.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js') }}"></script>
    <script type="text/javascript" src="{{ asset('vendors/datatables.net-scroller/js/datatables.scroller.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('vendors/jszip/dist/jszip.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('vendors/pdfmake/build/pdfmake.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('vendors/pdfmake/build/vfs_fonts.js') }}"></script>
    <script type="text/javascript" src="{{ asset('vendors/switchery/dist/switchery.min.js') }}"></script>

    <script type="text/javascript" src="{{ asset('build/js/custom.min.js') }}"></script>
    <script>
        $("document").ready(function(){
            $('input.js-switch').click(function(){

                $.ajax({
                    type:'GET',
                    url:'http://cosanit.net/admin/active/'+$(this).val(),
                    success: function (data) {

                    }
                });
            });

        });

    </script>


    <script type="text/javascript">
        $(document).ready(function() {
            $(".fancybox").fancybox();
        });
    </script>
    <script>
        $(document).ready(function() {
            var handleDataTableButtons = function() {
                if ($("#datatable-buttons").length) {
                    $("#datatable-buttons").DataTable({
                        dom: "Bfrtip",
                        bSort: true,
                        order : [ [ 4, "desc" ] ],
                        pageLength : 50,
                        buttons: [
                            {
                                extend: "copy",
                                className: "btn-sm"
                            },
                            {
                                extend: "csv",
                                className: "btn-sm"
                            },
                            {
                                extend: "excel",
                                className: "btn-sm"
                            },
                            {
                                extend: "pdfHtml5",
                                className: "btn-sm"
                            },
                            {
                                extend: "print",
                                className: "btn-sm"
                            },
                        ],
                        responsive: true
                    });
                }
            };

            TableManageButtons = function() {
                "use strict";
                return {
                    init: function() {
                        handleDataTableButtons();
                    }
                };
            }();

            $('#datatable').dataTable();
            $('#datatable-keytable').DataTable({
                keys: true

            });

            $('#datatable-responsive').DataTable();

            $('#datatable-scroller').DataTable({
                ajax: "js/datatables/json/scroller-demo.json",
                deferRender: true,
                scrollY: 380,
                scrollCollapse: true,
                scroller: true,

            });

            var table = $('#datatable-fixed-header').DataTable({
                fixedHeader: true,


            });

            TableManageButtons.init();
        });
    </script>


{% endblock %}
</body>
</html>
