
{% extends 'base.html.twig' %}
{% block ogurl %}  {% endblock %}
{% block ogimg %} {{ absolute_url(asset('img/gls.jpg')) }} {% endblock %}
{% block title %}Immobilier {{ villes[0].nom }} - Algérie{% endblock %}
{% block canonical %}
    <link rel="canonical" href="{{ path('cosanit_produits_villes',{ville: villes[0].slug }) }}" />
{% endblock %}
{% block description %} immobilier {{ villes[0].nom }} Algérie location  appartement, villa, duplex, terrains... f2 f3 f4 f5 à vendre ou à louer achat / vente immobilier Oran.
{% endblock %}

{% block body %}
    <style>
        .two-cols .img-item {
            height: 280px;
            background-size: cover !important;
            background-repeat: no-repeat;
            position: relative;
        }
        .light nav.main_menu>ul>li>a, .light nav.main_menu>ul>li>a:hover, .light nav.main_menu>ul>li.active>a {
            color: #000;
        }
        .filter-bar .select2-container {
            width: 215px;
            min-height: 50px;
            padding: 8px;
            margin-bottom: 20px;
            /* padding-bottom: 20px; */
        }
        #search_type2_types {
            background: #fff;
            border: 1px solid #dfdfdf;
            padding: 0 15px;
            outline: none;
            width: 260px !important;
            min-height: 50px;
            line-height: 50px;
            font-size: 16px;
            color: #7b7b7b;
            transition: .3s ease;
            margin-bottom: 15px;


        }
        #search_type2_nc {
            background: #fff;
            border: 1px solid #dfdfdf;
            padding: 0 15px;
            outline: none;
            width: 260px !important;
            min-height: 50px;
            line-height: 50px;
            font-size: 16px;
            color: #7b7b7b;
            transition: .3s ease;
            margin-bottom: 15px;


        }
        #search_type2_np {
            background: #fff;
            border: 1px solid #dfdfdf;
            padding: 0 15px;
            outline: none;
            width: 260px !important;
            min-height: 50px;
            line-height: 50px;
            font-size: 16px;
            color: #7b7b7b;
            transition: .3s ease;
            margin-bottom: 15px;


        }
        #search_type2_transaction{
            background: #fff;
            border: 1px solid #dfdfdf;
            padding: 0 15px;
            outline: none;
            width: 260px !important;
            min-height: 50px;
            line-height: 50px;
            font-size: 16px;
            color: #7b7b7b;
            transition: .3s ease;
            margin-bottom: 15px;


        }
        #search_type2_duree{
            background: #fff;
            border: 1px solid #dfdfdf;
            padding: 0 15px;
            outline: none;
            width: 260px !important;
            min-height: 50px;
            line-height: 50px;
            font-size: 16px;
            color: #7b7b7b;
            transition: .3s ease;
            margin-bottom: 15px;


        }
        #search_type2_categories{
            background: #fff;
            border: 1px solid #dfdfdf;
            padding: 0 15px;
            outline: none;
            width: 260px !important;
            min-height: 50px;
            line-height: 50px;
            font-size: 16px;
            color: #7b7b7b;
            transition: .3s ease;
            margin-bottom: 15px;


        }



        .filter-bar .select2-container {
            width: 215px;
            min-height: 50px;
            padding: 0px;
        }
        .filter-bar .select2-container--default .select2-selection--single .select2-selection__arrow b {
            background: none;
            height: 8px;
        }
        .filter-bar.auto .select2-selection {
            box-sizing: border-box;
            border: 1px solid #dfdfdf;
            border-radius: 0;
            padding: 0;
            width: 260px;
            min-height: 52px;
        }
        .multi-inner {
            max-width: 990px;
            display: table;
            flex-wrap: wrap;
            padding: 0px;
        }
    </style>
    <div class="wrapper">
        <div class="wrapper_inner">

            <header class="page_header   regular  light  scroll_header_top_area" style=" position: absolute;">
                <div class="header_inner clearfix">

                    <div class="header_top_bottom_holder">
                        <div class="header_bottom clearfix" style=" background-color:#fff; border-color:#fff;">
                            <div class="container">
                                <div class="container_inner clearfix">
                                    <div class="header_inner_left">
                                        <div class="mobile_menu_button">
                                            <div class="mobile_menu_button_hamburger">
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                            </div>
                                        </div>
                                        <div class="logo_wrapper">
                                            <div class="q_logo"><a href="/" style="height: 75px; visibility: visible;"><img class="normal" src="{{ asset('img/logo2.svg') }}" alt="Logo" style="height: auto;"><img class="light" src="{{ asset('img/logo2.svg') }}" alt="Logo" style="height: auto;"><img class="dark" src="{{ asset('img/logo2.svg') }}" alt="Logo" style="height: auto;" ><img class="sticky" src="{{ asset('img/logo2.svg') }}" alt="Logo" style="height: auto;"></a></div>

                                        </div>
                                    </div>
                                    <div class="header_inner_right">
                                        <div class="side_menu_button_wrapper right">
                                            <div class="side_menu_button">

                                            </div>
                                        </div>
                                    </div>
                                    <a title="GLS immobilier contact" href="{{ path('cosanit_contact') }}" class="header-contactLink-mobile">Nous contacter</a>
                                    <nav class="main_menu drop_down right">
                                        <ul id="menu-main-navigation" class="">
                                            <li id="nav-menu-item-70754" class="menu-item menu-item-type-post_type menu-item-object-page  narrow"><a href="{{ path('cosanit_homepage') }}" title="GlS Location & Vente Immobilier Algérie"  class=""><i class="menu_icon fa blank"></i><span>Accueil</span></a></li>

                                            <li id="nav-menu-item-70754" class="menu-item menu-item-type-post_type menu-item-object-page  narrow"><a href="{{ path('cosanit_immobilier') }}" title="Location & Vente Immobilier Algérie"  class=""><i class="menu_icon fa blank"></i><span>Immobilier</span></a></li>
                                            <li id="nav-menu-item-61438" class="menu-item menu-item-type-post_type menu-item-object-page  narrow"><a  href="{{ path('cosanit_achats') }}" title="Vente Immobilier  Algérie " class=""><i class="menu_icon fa blank"></i><span>Acheter</span></a></li>
                                            <li id="nav-menu-item-70754" class="menu-item menu-item-type-post_type menu-item-object-page  narrow"><a href="{{ path('cosanit_ventes') }}  "title="Immobilier Algérie vendre"  class=""><i class="menu_icon fa blank"></i><span>Vendre</span></a></li>
                                            <li id="nav-menu-item-3554598" class="menu-item menu-item-type-post_type menu-item-object-page  narrow"><a href="{{ path('cosanit_location') }} " title="Immobilier Location Algérie" class=""><i class="menu_icon fa blank"></i><span>Louer</span></a></li>
                                            <li id="nav-menu-item-70763" class="menu-item menu-item-type-post_type menu-item-object-page  narrow"><a href="{{ path('cosanit_investissement') }}"  title="Immobilier Programe neuf Algérie" class=""><i class="menu_icon fa blank"></i><span>Programmes Neufs</span></a></li>
                                            <li id="nav-menu-item-70777" class="menu-item menu-item-type-post_type menu-item-object-page  narrow"><a href="{{ path('cosanit_internationals') }} "  title="Immobilier International " class=""><i class="menu_icon fa blank"></i><span>International</span></a></li>

                                            <li id="nav-menu-item-70761" class="menu-item menu-item-type-post_type menu-item-object-page  narrow"><a href="{{ path('cosanit_contact') }}" title="Global Lxury Services Contact " class=""><i class="menu_icon fa blank"></i><span>Nous contacter</span></a></li>
                                        </ul>
                                    </nav>
                                    <nav class="mobile_menu">
                                        <ul id="menu-main-navigation-1" class=""><li id="mobile-menu-item-61438" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="{{ path('cosanit_achats') }}" title="Immobilier Achat Vente Algérie " class=""><span>Acheter</span><span class="mobile_arrow"><i class="fa fa-angle-right"></i><i class="fa fa-angle-down"></i></span></a></li>
                                            <li id="mobile-menu-item-70754" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="{{ path('cosanit_ventes') }}" title="Immobilier vendre Algérie "class=""><span>Vendre</span><span class="mobile_arrow"><i class="fa fa-angle-right"></i><i class="fa fa-angle-down"></i></span></a></li>
                                            <li id="mobile-menu-item-3554598" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="{{ path('cosanit_location') }}"  title="Immobilier Location Algérie " class=""><span>Louer</span><span class="mobile_arrow"><i class="fa fa-angle-right"></i><i class="fa fa-angle-down"></i></span></a></li>
                                            <li id="mobile-menu-item-70763" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="{{ path('cosanit_investissement') }}"title="Immobilier Programme Neuf Algérie "  class=""><span>Programmes Neufs</span><span class="mobile_arrow"><i class="fa fa-angle-right"></i><i class="fa fa-angle-down"></i></span></a></li>
                                            <li id="mobile-menu-item-70777" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="{{ path('cosanit_internationals') }}"title="Immobilier International"  class=""><span>International</span><span class="mobile_arrow"><i class="fa fa-angle-right"></i><i class="fa fa-angle-down"></i></span></a></li>
                                            <li id="mobile-menu-item-8222" class="qtranxs-lang-menu qtranxs-lang-menu-en menu-item menu-item-type-custom menu-item-object-custom "><a title="Arabic" href="" class=""><span><img src="{{ asset('img/algeria.png') }}" alt="Arabic"></span><span class="mobile_arrow"><i class="fa fa-angle-right"></i><i class="fa fa-angle-down"></i></span></a></li>
                                            <li id="mobile-menu-item-70761" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="{{ path('cosanit_contact') }}"title="Global Lxury Services contact"  class=""><span>Nous contacter</span><span class="mobile_arrow"><i class="fa fa-angle-right"></i><i class="fa fa-angle-down"></i></span></a></li>
                                        </ul>					</nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <a id="back_to_top" href="#" class="off">
			<span class="fa-stack">
				<i class="fa fa-angle-up " style=""></i>
			</span>
            </a>


            <div class="content ">
                <div class="content_inner  ">
                    <style type="text/css">
                        .header_top .left .inner > div,
                        .header_top .left .inner > div:last-child,
                        .header_top .right .inner > div:first-child,
                        .header_top .right .inner > div,
                        header .header_top .q_social_icon_holder,
                        .header_menu_bottom
                        { border-color:rgba(234, 234, 234, 0); }

                    </style>
                    <div id="sticky-wrapper" class="sticky-wrapper" style="height: 61px;">
                        <div class="mf-advanced-search mobile-hide ">
                            <div class="filter-bar auto">
                                <div class="filter-bar-inner">
                                    <section>

                                        {{ form_start(form, {'attr': {'id': 'prop-search','methode': 'GET'} }) }}
                                        <div class="tabs tabs-style-bar">
                                            <nav>
                                                <div class="logo-search" style="    margin-top: 2px;"><a href="{{ path('cosanit_homepage') }}">

                                                        <img class="normal" src="{{ asset('img/logo2.svg') }}" alt="Logo" style="       width: 95px;
    margin-top: -9px;">

                                                    </a>






                                                </div>
                                                <ul>

                                                    <li><a href="#section-bar-1" class="city"><span>Rechercher par secteur</span><i class="fa fa-chevron-down"></i></a></li>
                                                    {% if trans == 'Louer: ' %}
                                                        <li><a href="#section-bar-6" class="plus"><span>Durée</span><i class="fa fa-chevron-down"></i></a></li>
                                                    {% endif %}
                                                    <li><a href="#section-bar-2" class="type"><span>Type de bien</span><i class="fa fa-chevron-down"></i></a></li>
                                                    <li><a href="#section-bar-3" class="budget"><span>Budget</span><i class="fa fa-chevron-down"></i></a></li>
                                                    <li><a href="#section-bar-4" class="surface"><span>Surface</span><i class="fa fa-chevron-down"></i></a></li>
                                                    <li><a href="#section-bar-5" class="plus"><span>Plus</span><i class="fa fa-chevron-down"></i></a></li>
                                                </ul>
                                                <input class="btn-search" type="submit" value="Rechercher"/>



                                            </nav>
                                            <div class="content-wrap">
                                                <section id="section-bar-1">
                                                    <div class="two-input-wrap">


                                                        {{ form_widget(form.categories,{'attr': {'class': 'select2 select2-container select2-container--default select2-container--focus',}}) }}
                                                        {{ form_errors(form.categories) }}
                                                        <div class="unit-wrap">
                                                            {{ form_widget(form.ref,{'attr': {'class': 'form-control',}}) }}
                                                            {{ form_errors(form.ref) }}
                                                        </div>




                                                        <div class="button-wrap">
                                                            <a class="g-btn" id="clear-tab-1" href="">Supprimer</a>
                                                            <input type="submit" class="red-btn" value="Nouvelle recherche"/>
                                                        </div>
                                                    </div>
                                                </section>
                                                {% if trans == 'Louer: ' %}
                                                    <section id="section-bar-6">
                                                        <div class="two-input-wrap">

                                                            {{ form_widget(form.duree,{'attr': {'class': 'select2 select2-container select2-container--default select2-container--focus',}}) }}
                                                            {{ form_errors(form.duree) }}
                                                            <div class="button-wrap">
                                                                <a class="g-btn" id="clear-tab-1" href="">Supprimer</a>
                                                                <input type="submit" class="red-btn" value="Nouvelle recherche"/>
                                                            </div>
                                                        </div>
                                                    </section>
                                                {% endif %}
                                                <section id="section-bar-2">
                                                    <div class="two-input-wrap">


                                                        {{ form_widget(form.types,{'attr': {'class': 'multi-wrap '}}) }}
                                                        {{ form_errors(form.types) }}


                                                        <div class="button-wrap">
                                                            <a class="g-btn" id="clear-tab-1" href="">Supprimer</a>
                                                            <input type="submit" class="red-btn" value="Nouvelle recherche"/>
                                                        </div>
                                                    </div>
                                                </section>
                                                <section id="section-bar-3">
                                                    <div class="two-input-wrap">


                                                        <div class="unit-wrap">
                                                            {{ form_widget(form.prixmin,{'attr': {'class': 'form-control',}}) }}
                                                            {{ form_errors(form.prixmin) }}
                                                            <span>DA</span>
                                                        </div>

                                                        <div class="unit-wrap">
                                                            {{ form_widget(form.prixmax,{'attr': {'class': 'form-control',}}) }}
                                                            {{ form_errors(form.prixmax) }}
                                                            <span>DA</span>
                                                        </div>



                                                        <div class="button-wrap">
                                                            <a class="g-btn" id="clear-tab-3" href="">Supprimer</a>
                                                            <input type="submit" class="red-btn" value="Nouvelle recherche"/>
                                                        </div>
                                                    </div>
                                                </section>
                                                <section id="section-bar-4">
                                                    <div class="two-input-wrap">
                                                        <div class="unit-wrap">
                                                            {{ form_widget(form.surfacemin,{'attr': {'class': 'form-control',}}) }}
                                                            {{ form_errors(form.surfacemin) }}
                                                            <span><span class="superscript">2</span>m</span>
                                                        </div>
                                                        <div class="unit-wrap">
                                                            {{ form_widget(form.surfacemax,{'attr': {'class': 'form-control',}}) }}
                                                            {{ form_errors(form.surfacemax) }}
                                                            <span><span class="superscript">2</span>m</span>
                                                        </div>
                                                        <div class="button-wrap">
                                                            <a class="g-btn" id="clear-tab-4" href="">Supprimer</a>
                                                            <input type="submit" class="red-btn" value="Nouvelle recherche"/>
                                                        </div>
                                                    </div>
                                                </section>
                                                <section id="section-bar-5">
                                                    <div class="inner-wrap">
                                                        <div class="row-wrapper">
                                                            <div class="left-col">
                                                                <p><span class="order-num">1</span>Type de transaction</p>
                                                                {{ form_widget(form.transaction,{'attr': {'class': 'select2 select2-container select2-container--default select2-container--focus',}}) }}
                                                                {{ form_errors(form.transaction) }}

                                                                {{ form_widget(form.duree,{'attr': {'class': 'select2 select2-container select2-container--default select2-container--focus',}}) }}
                                                                {{ form_errors(form.duree) }}
                                                            </div>
                                                            <div class="right-col">
                                                                <p><span class="order-num">2</span>Nombre de chambres</p>
                                                                <div class="row-wrap">
                                                                    <label>Nombre de chambres</label>
                                                                    <div class="multi-sel">
                                                                        <div class="multi-inner">
                                                                            {{ form_widget(form.nc,{'attr': {'class': ' multi-wrap'}}) }}
                                                                            {{ form_errors(form.nc) }}

                                                                        </div>




                                                                    </div>
                                                                </div>
                                                                <div class="row-wrap">
                                                                    <label>Nombre de pièces</label>
                                                                    <div class="multi-sel">
                                                                        <div class="multi-wrap">
                                                                            {{ form_widget(form.np,{'attr': {'class': ' multi-wrap'}}) }}
                                                                            {{ form_errors(form.np) }}

                                                                        </div>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>



                                                        <div class="button-wrap">
                                                            <a class="g-btn" id="clear-tab-5" href="">Supprimer</a>
                                                            <input type="submit" class="red-btn" value="Nouvelle recherche"/>
                                                        </div>
                                                    </div>

                                                </section>
                                            </div><!-- /content -->
                                        </div><!-- /tabs -->
                                        {{ form_end(form) }}

                                    </section>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="title_outer title_without_animation" data-height="0">
                        <div class="title title_size_small position_left has_background" style="background-size:1920px auto;background-image:url({{ asset('photos_produits/')~villes[0].photo[0].path }});height:0px;">
                            <div class="title_holder" style="padding-top:0px;height:0px;">
                                <div class="container">
                                    <div class="container_inner clearfix">
                                        <div class="container_inner clearfix">
                                            <div class="title_subtitle_holder">
                                                <div class="title_subtitle_holder_inner">

                                                    <div class="home_header_box">


                                                                <hgroup>
                                                                <h1 style="    font-family: 'Lato', sans-serif;     font-size: 60px;
    color: #fff;
    margin-bottom: 0;">Immobilier {{ villes[0].nom }}</h1>
                                                                <h2 style="    font-family: 'Lato', sans-serif;    font-size: 24px;
    color: #fff;
    line-height: 1.4;
    margin-bottom: 70px;">{{ villes[0].nom }} vous dévoile ses meilleurs atouts dans les plus beaux quartiers</h2>
                                                                </hgroup>


                                                    </div>

                                                    <div class="home_header_search_box">
                                                        <div class="mf-form">
                                                            <div id="loader" style="display: none;"></div>


                                                        </div>
                                                    </div>


                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mf-advanced-search--mobile" id="search-mobile" style="display: none;">
                            <div class="mf-advanced-search--mobile--header">
                                <a class="link-left" id="back-search" href="#">Fermer</a>
                                <a id="refresh-form" class="link-right reset-search-mobile">Reset</a>
                            </div>
                            <div class="mf-advanced-search--mobile--body">
                                {{ form_start(formmobile, {'attr': {'id': 'prop-search','class':'cbp-mc-form'} }) }}

                                <div class="cbp-mc-column">
                                    <p><span class="order-num">1</span>City</p>
                                    {{ form_widget(formmobile.categories,{'attr': {'class': 'select2 select2-container select2-container--default select2-container--focus',}}) }}
                                    {{ form_errors(formmobile.categories) }}

                                    {{ form_widget(formmobile.ref,{'attr': {'class': 'form-control',}}) }}
                                    {{ form_errors(formmobile.ref) }}


                                    <p><span class="order-num">2</span>Type de bien</p>
                                    <div class="multi-inner two-cols">

                                        <div class="multi-wrap">

                                            {{ form_widget(formmobile.types,{'attr': {'class': 'select2 select2-container select2-container--default select2-container--focus'}}) }}
                                            {{ form_errors(formmobile.types) }}
                                        </div>

                                    </div>
                                    <p><span class="order-num">3</span>Budget</p>
                                    <div class="multi-sel two-cols">


                                        <div class="unit-wrap">
                                            {{ form_widget(formmobile.prixmin,{'attr': {'class': 'form-control',}}) }}
                                            {{ form_errors(formmobile.prixmin) }}
                                            <span>DA</span>
                                        </div>

                                        <div class="unit-wrap">
                                            {{ form_widget(formmobile.prixmax,{'attr': {'class': 'form-control',}}) }}
                                            {{ form_errors(formmobile.prixmax) }}
                                            <span>DA</span>
                                        </div>

                                    </div>

                                    <p><span class="order-num">4</span>Surface</p>
                                    <div class="multi-sel two-cols">

                                        <div class="unit-wrap">
                                            {{ form_widget(formmobile.surfacemin,{'attr': {'class': 'form-control',}}) }}
                                            {{ form_errors(formmobile.surfacemin) }}
                                            <span><span class="superscript">2</span>m</span>
                                        </div>
                                        <div class="unit-wrap">
                                            {{ form_widget(formmobile.surfacemax,{'attr': {'class': 'form-control',}}) }}
                                            {{ form_errors(formmobile.surfacemax) }}
                                            <span><span class="superscript">2</span>m</span>
                                        </div>
                                    </div>

                                </div>

                                <div class="cbp-mc-column">
                                    <div class="multi-sel">
                                        <p><span class="order-num">5</span>Type de transaction</p>
                                        {{ form_widget(formmobile.transaction,{'attr': {'class': 'select2 select2-container select2-container--default select2-container--focus',}}) }}
                                        {{ form_errors(formmobile.transaction) }}

                                        {{ form_widget(formmobile.duree,{'attr': {'class': 'multi-wrap',}}) }}
                                        {{ form_errors(formmobile.duree) }}
                                    </div>
                                    <div class="clearfix"></div>
                                    <p style="display: inline-block; margin-top: 20px;"><span class="order-num">6</span>Nombre de chambres</p>
                                    <div class="multi-sel three-col">


                                        <label>Nombre de chambres</label>
                                        <div class="cbp-mc-column">
                                            <div class="multi-wrap">
                                                {{ form_widget(formmobile.nc,{'attr': {'class': ' multi-wrap'}}) }}
                                                {{ form_errors(formmobile.nc) }}
                                            </div>

                                        </div>

                                    </div>
                                    <div class="clearfix"></div>


                                    <div class="multi-sel three-col">
                                        <label>Nombre de pièces</label>
                                        <div class="cbp-mc-column">
                                            <div class="multi-wrap">
                                                {{ form_widget(formmobile.np,{'attr': {'class': ' multi-wrap'}}) }}
                                                {{ form_errors(formmobile.np) }}
                                            </div>

                                        </div>

                                    </div>

                                    <div class="clearfix"></div>


                                </div>



                            </div>


                            <div class="cbp-mc-submit-wrap"><input class="cbp-mc-submit cbp-mc-btn" type="submit" value="Rechercher"></div>

                            {{ form_end(formmobile) }}

                        </div>
                        <a class="btn-open-search-mobile" id="btn-open-search-mobile" href="#">Filtre</a>
                        <div class="q_slider top_slider">
                            <div class="q_slider_inner">
                                <script data-cfasync="false" type="text/javascript">var lsjQuery = jQuery;</script><script data-cfasync="false" type="text/javascript"> lsjQuery(document).ready(function() { if(typeof lsjQuery.fn.layerSlider == "undefined") { lsShowNotice('layerslider_6','jquery'); } else { lsjQuery("#layerslider_6").layerSlider({responsive: true, pauseOnHover: false, firstSlide: 1, thumbnailNavigation: 'disabled', skinsPath: '{{ asset('images/') }}'}) } }); </script>
                                <div id="layerslider_6" class="ls-wp-container ls-container ls-v5" style="width: 100%; height: 560px; margin: 0px auto; visibility: visible;">




                                        <div class="ls-slide" data-ls="transition2d:5;" style="width: 0px; height: 560px; visibility: visible; display: none; left: 0px; right: auto; top: 0px; bottom: auto;">
                                            <img src="{{ asset('photos_produits/')~villes[0].photo[0].path }}" data-src="{{ asset('photos_produits/')~villes[0].photo[0].path }}" class="ls-bg ls" alt="128A1650" style="width: 1920px; height: 1280px; margin-left: -277px; margin-top: -360px; visibility: visible;">
                                            <div class="ls-gpuhack"></div>
                                        </div>



                                    <div class="ls-circle-timer" style="display: block;"><div class="ls-ct-left"><div class="ls-ct-rotate" style="transform: matrix(1, 0, 0, 1, 0, 0);"><div class="ls-ct-hider"><div class="ls-ct-half"></div></div></div></div><div class="ls-ct-right"><div class="ls-ct-rotate" style="transform: matrix(-0.99479, 0.10192, -0.10192, -0.99479, 0, 0);"><div class="ls-ct-hider"><div class="ls-ct-half"></div></div></div></div><div class="ls-ct-center"></div></div></div><div class="ls-loading-container" style="z-index: -1; display: none;"><div class="ls-loading-indicator"></div></div><a class="ls-nav-prev" href="#" style="display: none; visibility: visible;"></a><a class="ls-nav-next" href="#" style="display: none; visibility: visible;"></a><div class="ls-bottom-nav-wrapper" style="visibility: visible;"><a class="ls-nav-start ls-nav-start-active" href="#"></a><span class="ls-bottom-slidebuttons"><a href="#" class=""></a><a href="#" class="ls-nav-active"></a><a href="#" class=""></a><a href="#" class=""></a><a href="#" class=""></a><a href="#" class=""></a></span><a class="ls-nav-stop" href="#"></a></div><div class="ls-shadow"></div></div>				</div>
                    </div>
                    <div class="container">
                        <div class="home_container_space clearfix">


                            <div class="vc_row wpb_row vc_row-fluid grid_section">
                                <div class="section_inner clearfix">
                                    <div class="section_inner_margin clearfix">
                                        <div class="vc_col-lg-4 vc_col-md-4 vc_col-sm-4 vc_col-xs-12 wpb_column vc_column_container ">
                                            <div class="wpb_wrapper">
                                                <div class="universe_text">

                                                        <div class="description" style="text-align: justify;">{{ villes[0].texte }}<br>
                                                        <br>
                                                   </div>


                                                </div><!-- universe_text -->

                                            </div>
                                        </div>
                                        <div class="vc_col-lg-8 vc_col-md-8 vc_col-sm-8 vc_col-xs-12 wpb_column vc_column_container ">
                                            <div class="wpb_wrapper">
                                                <div id="universe-gallery" class="universe-gallery">
                                                    {% for produit in villes[0].photo %}
                                                        {% set number = 0 %}
                                                        {% if loop.first %}
                                                            <div class="two-cols">
                                                                <div id="img-{{ number }}" class="img-item" style="background: url('{{ asset('photos_produits/')~produit.path }}') no-repeat center center;">
                                                                    <div class="img-overlay"><p>Voir les photos</p></div>
                                                                </div>

                                                            </div>
                                                        {% else %}
                                                            <div class="four-cols ">
                                                                <div id="img-{{ number }}" class="img-item" style="background: url('{{ asset('photos_produits/')~produit.path }}') no-repeat center center;">
                                                                    <div class="img-overlay"><p>Voir les photos</p></div>
                                                                </div>



                                                            </div>



                                                        {% endif %}
                                                    {% endfor %}



                                                    <ul id="light-gallery" class="gallery">

                                                        {% for produit in villes[0].photo %}
                                                            <li data-src="{{ asset('photos_produits/')~produit.path }}" data-sub-html="">
                                                                <a href="#"><img src="{{ asset('photos_produits/')~produit.path }}" data-description="{{ villes[0].nom }}"></a>
                                                            </li>

                                                        {% endfor %}
                                                    </ul>



                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>



                            </div>

                                        <!-- Latest Exclusive block -->
                                        <div class="home-separator-3"></div>

                            <!-- Title Row -->
                            <div class="vc_row wpb_row vc_row-fluid grid_section">
                                <div class="section_inner clearfix">
                                    <div class="section_inner_margin clearfix">
                                        <div class="vc_col-sm-4 wpb_column vc_column_container ">
                                            <div class="wpb_wrapper">

                                                <div class="title-block left-title-block">

                                                                <span class="results">

                                                                    {{ exclusives|length }} Résultats

                                                                </span>
                                                    <a href="{{ path('cosanit_alert') }}"><span class="create-alert">Créer une alerte</span></a>


                                                </div>

                                            </div>
                                        </div>

                                        <div class="vc_col-sm-4 wpb_column vc_column_container ">
                                            <div class="wpb_wrapper">

                                                <div class="title-block center-title-block">
                                                    <h2>Coups de coeur</h2>
                                                </div>

                                            </div>
                                        </div>

                                        <div class="vc_col-sm-4 wpb_column vc_column_container ">
                                            <div class="wpb_wrapper">

                                                <div class="title-block right-title-block">

                                                    <a href="{{ path('cosanit_search',{ 'ville': 'all','transaction': 'all','duree': 'all' ,'types': 'Array','exclusiv':'oui'}) }}"><span class="all-offers">Toutes les offres</span></a>


                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Row with offers 2 -->
                            <div class="vc_row wpb_row vc_row-fluid grid_section">
                                <div class="section_inner clearfix">
                                    <div class="section_inner_margin clearfix">

                                        {% for exclusive in exclusives %}

                                            <div class="vc_col-sm-4 vc_col-xs-6 wpb_column vc_column_container clearfix result-item">
                                                <div class="wpb_wrapper">

                                                    <div class="offer-list-item">

                                                        <div class="oli-image" style="background-image:url({{ asset('photos_produits/')~ exclusive.image1[0].path }});">
                                                            <a title="{{ exclusive.type }} {{ exclusive.titre }} Oran Algérie" href="{{ path('cosanit_show', { 'id': exclusive.slug }) }}">
                                                            </a>


                                                        </div>


                                                        <div class="oli-details oli-details--normal">
                                                            <div class="oli-caption">
                                                                <div class="oli-ref">Réf {{ exclusive.ref }}</div>
                                                                <div class="oli-photos-count">
                                                                    {{ exclusive.image1|length }}   photos
                                                                </div>

                                                            </div>
                                                            <a href="{{ path('cosanit_show', { 'id': exclusive.slug }) }}">
                                                                <h3 class="oli-title">
                                                                    {{ exclusive.titre }}
                                                                </h3>
                                                            </a>
                                                            <a href="{{ path('cosanit_show', { 'id': exclusive.slug }) }}">{% if exclusive.type == 'Location' %} à louer {{ exclusive.duree }}{% else %} en vente {% endif %}</a>


                                                            <p class="oli-description">
                                                                Immobilier <span class="mf-city">{{ exclusive.categories.nom }}</span>, {{ exclusive.type }}  {{ exclusive.types }}, {% if exclusive.surface %}{{ exclusive.surface }} m<sup>2</sup>  {% endif %}
                                                            <br>  {{ exclusive.text2 }}
                                                            </p>



                                                            <div class="oli-price oli-price-euro lower">
                                                                {% if exclusive.prix %}
                                                                    {{ exclusive.prix }}

                                                                {% else %}

                                                                    Prix ​​sur demande
                                                                {% endif %}


                                                            </div>



                                                        </div>

                                                    </div>

                                                </div>
                                            </div>

                                        {% endfor %}





                                    </div>
                                </div>
                            </div>

                            <div class="home-separator-3"></div>


                                        <!-- Title Row -->
                                        <div class="vc_row wpb_row vc_row-fluid grid_section">
                                            <div class="section_inner clearfix">
                                                <div class="section_inner_margin clearfix">
                                                    <div class="vc_col-sm-4 wpb_column vc_column_container ">
                                                        <div class="wpb_wrapper">

                                                            <div class="title-block left-title-block">

                                                                <span class="results">{{ produits|length }} Résultats</span>
                                                                <a href="{{ path('cosanit_alert') }}"><span class="create-alert">Créer une alerte</span></a>


                                                            </div>

                                                        </div>
                                                    </div>
                                                    <div class="vc_col-sm-4 wpb_column vc_column_container ">
                                                        <div class="wpb_wrapper">

                                                            <div class="title-block center-title-block">
                                                                <h2>Nos dernières annonces</h2>
                                                            </div>

                                                        </div>
                                                    </div>
                                                    <div class="vc_col-sm-4 wpb_column vc_column_container ">
                                                        <div class="wpb_wrapper">

                                                            <div class="title-block right-title-block">

                                                                <a href=""><span class="all-offers">Toutes les offres</span></a>

                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>



                                        <!-- Row with offers 2 -->
                                        <div class="vc_row wpb_row vc_row-fluid grid_section">
                                            <div class="section_inner clearfix">
                                                <div class="section_inner_margin clearfix">

                                                    {% for produit in produits %}

                                                        <div class="vc_col-sm-4 vc_col-xs-6 wpb_column vc_column_container clearfix result-item">
                                                            <div class="wpb_wrapper">

                                                                <div class="offer-list-item">

                                                                    <div class="oli-image" style="background-image:url({{ asset('photos_produits/')~ produit.image1[0].path }});">
                                                                        <a title="{{ produit.titre }}" href="{{ path('cosanit_show', { 'id': produit.slug }) }}">
                                                                        </a>


                                                                    </div>


                                                                    <div class="oli-details oli-details--normal">
                                                                        <div class="oli-caption">
                                                                            <div class="oli-ref">Réf {{ produit.ref }}</div>
                                                                            <div class="oli-photos-count">{{ produit.image1|length }} photos</div>

                                                                        </div>
                                                                        <a href="{{ path('cosanit_show', { 'id': produit.slug }) }}">
                                                                            <h3 class="oli-title">
                                                                                {{ produit.titre }}
                                                                            </h3>
                                                                        </a>
                                                                        <a href="{{ path('cosanit_show', { 'id': produit.slug }) }}">{% if produit.type == 'Location' %} à louer {{ produit.duree }} {% else %} Vente {% endif %}</a>

                                                                        <p class="oli-description">
                                                                          Immobilier <span class="mf-city">{{ produit.categories.nom }}</span>,  {{ produit.type }}  {{ produit.types }}, {% if produit.surface %}  {{ produit.surface }} m<sup>2</sup>  {% endif %}         <br>  {{ produit.text2 }}                 </p>


                                                                        <div class="oli-price oli-price-euro lower">
                                                                            {% if produit.prix %}
                                                                                {{ produit.prix }}


                                                                            {% else %}

                                                                                Prix ​​sur demande
                                                                            {% endif %}


                                                                        </div>



                                                                    </div>

                                                                </div>

                                                            </div>
                                                        </div>

                                                    {% endfor %}





                                                </div>
                                            </div>
                                        </div>




                                </div>



                            </div>


                            <div class="home-separator-4"></div>
                            <!-- Newsletter / Rcruitment -->
                            <div class="vc_row wpb_row vc_row-fluid grid_section nl_rc">
                                <div class="section_inner clearfix">
                                    <div class="section_inner_margin clearfix">
                                        <div class="vc_col-sm-6 wpb_column vc_column_container ">
                                            <div class="wpb_wrapper">

                                                <div class="newsletter-block mf-table">
                                                    <div class="mf-table-cell" style="    text-align: center;">
                                                        <h2>Newsletter</h2>
                                                        <p>Recevez par email toutes les informations et <br> dernières annonces Luxury Global Service.</p>
                                                        <!-- MailChimp for WordPress v2.3.18 - https://wordpress.org/plugins/mailchimp-for-wp/ --><div id="mc4wp-form-1" class="form mc4wp-form"><form method="post"><input class="nl-email" type="email" name="EMAIL" placeholder="Email" required="required">

                                                                <input class="nl-btn" type="submit" value="OK"><div style="display: none;"><input type="text" name="_mc4wp_ho_b22713e89e30cb18669337f81df50424" value="" tabindex="-1" autocomplete="off"></div><input type="hidden" name="_mc4wp_timestamp" value="1518977793"><input type="hidden" name="_mc4wp_form_id" value="0"><input type="hidden" name="_mc4wp_form_element_id" value="mc4wp-form-1"><input type="hidden" name="_mc4wp_form_submit" value="1"><input type="hidden" name="_mc4wp_form_nonce" value="9ef3b8b7a9"></form></div><!-- / MailChimp for WordPress Plugin -->	                	</div>

                                                </div>

                                            </div>
                                        </div>
                                        <div class="vc_col-sm-6 wpb_column vc_column_container ">
                                            <div class="wpb_wrapper">
                                                <div class="recruitment-block mf-table">
                                                    <a href="" target="_blank" class="mf-table-cell">
                                                        <h2>Découvrez notre<br> catalogue interactif</h2>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="home-separator-4"></div>





                        </div>
                    </div>
                    <div class="content_bottom">
                    </div>

                </div>
            </div>
        </div>
    </div>
    </div>





    <script type="text/javascript" src="https://4a1diu2l2oz9sztxw2o2majb-wpengine.netdna-ssl.com/wp-content/plugins/contact-form-7/includes/js/jquery.form.min.js"></script>

    <script type='text/javascript' src='https://4a1diu2l2oz9sztxw2o2majb-wpengine.netdna-ssl.com/wp-content/themes/marcfoujols/js/select2.min.js'></script>

    <script type='text/javascript' src='https://4a1diu2l2oz9sztxw2o2majb-wpengine.netdna-ssl.com/wp-content/themes/marcfoujols/js/plugins.js'></script>
    <script type='text/javascript' src='https://www.marcfoujols.com/wp-content/themes/marcfoujols/js/default_dynamic.php'></script>
    <script type='text/javascript' src='https://4a1diu2l2oz9sztxw2o2majb-wpengine.netdna-ssl.com/wp-content/themes/marcfoujols/js/default.min.js'></script>
    <script type='text/javascript' src='https://4a1diu2l2oz9sztxw2o2majb-wpengine.netdna-ssl.com/wp-content/themes/marcfoujols/js/marc_foujols.js'></script>
    <script type='text/javascript' src='https://4a1diu2l2oz9sztxw2o2majb-wpengine.netdna-ssl.com/wp-content/themes/marcfoujols/js/custom_js.php'></script>
    <script type='text/javascript' src='https://4a1diu2l2oz9sztxw2o2majb-wpengine.netdna-ssl.com/wp-content/themes/marcfoujols/js/select2-fr.js'></script>
    <script type='text/javascript' src='https://4a1diu2l2oz9sztxw2o2majb-wpengine.netdna-ssl.com/wp-content/themes/marcfoujols/js/i18n/fr.js'></script>
    <script type='text/javascript' src='https://4a1diu2l2oz9sztxw2o2majb-wpengine.netdna-ssl.com/wp-content/themes/marcfoujols/js/autoNumeric-min.js'></script>
    <script type='text/javascript' src='https://4a1diu2l2oz9sztxw2o2majb-wpengine.netdna-ssl.com/wp-content/themes/marcfoujols/js/cbpFWTabs.js'></script>

    <script type='text/javascript' src='https://4a1diu2l2oz9sztxw2o2majb-wpengine.netdna-ssl.com/wp-content/themes/marcfoujols/js/mf-search.js'></script>
    <script type='text/javascript' src='https://4a1diu2l2oz9sztxw2o2majb-wpengine.netdna-ssl.com/wp-content/themes/marcfoujols/js/modal/classie.js'></script>
    <script type='text/javascript' src='https://4a1diu2l2oz9sztxw2o2majb-wpengine.netdna-ssl.com/wp-content/themes/marcfoujols/js/modal/modalEffects.js'></script>
    <script type='text/javascript' src='https://4a1diu2l2oz9sztxw2o2majb-wpengine.netdna-ssl.com/wp-content/themes/marcfoujols/js/light-gallery/lightgallery-all.js'></script>
    <script type='text/javascript' src='https://4a1diu2l2oz9sztxw2o2majb-wpengine.netdna-ssl.com/wp-content/themes/marcfoujols/js/jquery.mousewheel.min.js'></script>
    <script type='text/javascript' src='https://4a1diu2l2oz9sztxw2o2majb-wpengine.netdna-ssl.com/wp-includes/js/comment-reply.min.js'></script>
    <script type='text/javascript' src='https://4a1diu2l2oz9sztxw2o2majb-wpengine.netdna-ssl.com/wp-content/plugins/js_composer-4.11/assets/js/dist/js_composer_front.min.js'></script>
    <script type='text/javascript' src='https://4a1diu2l2oz9sztxw2o2majb-wpengine.netdna-ssl.com/wp-includes/js/jquery/ui/core.min.js'></script>
    <script type='text/javascript' src='https://4a1diu2l2oz9sztxw2o2majb-wpengine.netdna-ssl.com/wp-includes/js/jquery/ui/position.min.js'></script>
    <script type="text/javascript" src="https://4a1diu2l2oz9sztxw2o2majb-wpengine.netdna-ssl.com/wp-includes/js/wp-embed.min.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function(){
            jQuery(".quoi").select2({
                placeholder: "Quoi",
                allowClear: true
            });
            jQuery(".transaction").select2({

                allowClear: false
            });
            jQuery(".ou").select2({
                placeholder: "Où",
                allowClear: true
            });

        })
        jQuery(document).ready(function(){

            jQuery('#search_type2_duree').hide();
            jQuery('#search_type2_transaction').change(function() {
                if(jQuery(this).val() == 'Location'){

                    jQuery('#search_type2_duree').show();


                }

                if(jQuery(this).val() == 'Vente'){

                    jQuery('#search_type2_duree').hide();


                }

            });
        })

    </script>

{% endblock %}