{% extends 'base.html.twig' %}{% block titre %}CREATIV | Développement web et Commmunication digitale {% endblock %}
{% block description %}{% endblock %}
    {% block canonical %}

    {% endblock %}
    {% block ldjson %}
    {% endblock %}
{% block body %}


  
<div class="header-overflow" id="header-overflow"></div>
<main>
		<rs-module-wrap id="rev_slider_1_1_wrapper" data-source="gallery" style="padding:0;margin:0px auto;margin-top:0;margin-bottom:0;max-width:">

      <div id="rev_slider_4_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="classicslider1" style="margin:0px auto;background-color:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">
              <!-- START REVOLUTION SLIDER 5.0.7 auto mode -->
              <div id="rev_slider_4_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.0.7">
                  <ul>
                     {% for banniere in banners %}



                     
                      <!-- SLIDE -->
                      <li data-index="rs-1" data-slotamount="7"   data-rotate="0" data-saveperformance="off" data-title="" data-description="">
                        <!-- MAIN IMAGE -->
                        <img src="{{ asset('Bannieres/'~banniere.path) }}" alt="" data-bgposition="center center" data-kenburns="off" data-duration="10000" data-scalestart="100" data-scaleend="120" data-rotatestart="0" data-rotateend="0" data-offsetstart="0" data-offsetend="0" data-bgparallax="0" class="rev-slidebg" data-no-retina>
                       

	
                    
                        <!-- LAYERS -->


                         <div class="tp-caption Gym-Display " id="slide-44-layer-3" data-x="['-50','-50','-50','-50']" data-hoffset="['-300','-300','-300','-300']" data-y="['-50','-50','-50','-250']" data-voffset="['-200','-200','-200','-200']" data-fontsize="['50','50','50','30']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="750" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 7; white-space: nowrap; font-family: Arial; font-weight: 200;">
                         <img src="{{asset('pack1.png')}}" width="500" height="500"> 
                         
                          </div>
                      
                


                 
                        <div class="tp-caption Gym-Display tp-resizeme" id="slide-44-layer-3" data-x="['600','600','600','40']" data-hoffset="['-30','-30','-30','-30']" data-y="['-50','-50','-50','200']" data-voffset="['0','0','0','0']" data-fontsize="['60','60','60','40']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="750" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 7; white-space: nowrap; font-family: Arial;  font-weight: 700;">LE PACK
                        </div>
     <div class="tp-caption Gym-Display tp-resizeme" id="slide-44-layer-3" data-x="['600','600','600','40']" data-hoffset="['0','0','0','0']" data-y="['-70','-70','-70','250']" data-voffset="['0','0','0','0']" data-fontsize="['60','60','60','40']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="750" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 7; white-space: nowrap; font-family: Arial;  font-weight: 700;">    ÉCONOMIQUE
                        </div>
                         <div class="tp-caption Gym-Display tp-resizeme" id="slide-44-layer-3" data-x="['600','600','600','40']" data-hoffset="['0','0','0','0']" data-y="['-20','-20','-20','300']" data-voffset="['0','0','0','0']" data-fontsize="['25','25','25','25']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="750" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 7; white-space: nowrap; font-family: Arial;  font-weight: 200;">  pour un site web simple et rapide.
                        </div>
                  
                        <div class="tp-caption Gym-Display tp-resizeme" id="slide-44-layer-3" data-x="['600','600','600','40']" data-hoffset="['0','0','0','0']" data-y="['70','70','70','350']" data-voffset="['0','0','0','0']" data-fontsize="['17','17','17','17']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="750" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 7; white-space: nowrap; font-family: Arial;  font-weight: 400; margin-top:-35px;width: 394px; height:103px"> <span style="background: white;color:#2854b7; padding: 20px;    display: block; text-align:center;line-height: 15px;"> Nom de domaine, Hébergement et sauvegarde <p style="line-height:0;margin-top:-10px; padding-bottom:5px;"><strong>INCLUS</strong></p> </span> 
                        </div>
                     
                    
                            <div class="tp-caption Gym-Display tp-resizeme" id="slide-44-layer-3" data-x="['600','600','600','600']" data-hoffset="['0','0','0','0']" data-y="['150','150','150','150']" data-voffset="['0','0','0','0']" data-fontsize="['17','17','17','17']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="750" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 7; white-space: nowrap; font-family: Arial;  font-weight: 400; margin-top:-20px;width: 394px; height:90px"> <span style="background: white;color:#2854b7; padding: 20px;    display: block; text-align:left;line-height: 10px;"> <b style="background:#0076be; padding:5px; color:white;"> 01</b>  Page web (site One-page)</span> 
                        </div>
                     
  
 

                        <!-- LAYER NR. 4 -->
                  
                    </li>


                    {% endfor %}
                 
        
      
                  </ul>
                  <div class="tp-static-layers"></div>
                  <div class="tp-bannertimer" style="height: 7px; background-color: rgba(255, 255, 255, 0.25);"></div>
              </div>
          
          
            </div>

</div>


    <div class="index-1">
        <div class="index-1-content">
            <div class="index-1-btn" id="index-1-btn">
                <div class="index-1-top-title">Quelques mots à propos de</div>
                <div class="index-1-middle-title"><span>Notre</span> entreprise</div>
            </div>
   
        

          
        </div>
            {% for apropos in apropos %}

            {{ apropos.text1|raw }}

            {% endfor %}

            
        </div>
    </div>



    <div class="index-3">
        <div class="index-3-items">

        {% for categorie in categories  %}
         

                  <a href="{{ path('cosanit_produits_categorie', { 'id': categorie.slug }) }}" class="index-3-item index-3-item-{{ categorie.id }}">
                <div class="index-3-item-img">
                    <img src="{{ asset('photos_produits/'~categorie.photo[0].path) }}" alt="Site internet sur-mesure">
                    <div class="index-3-item-img-plus"><i class="fas fa-plus"></i></div>
                </div>
                <div class="index-3-item-active">
                    <div class="index-3-item-active-content">
                        <h2 class="index-3-item-title">{{ categorie.nom }}</h2>
                        <h3 class="index-3-item-subtitle">{{ categorie.titre }}</h3>
                        <h4 class="index-3-item-text">{{ categorie.texte }}</h4>
                        <div class="index-3-item-plus">En savoir +</div>
                    </div>
                </div>
            </a>				

        {% endfor %}

        </div>
    </div>

    <div class="index-4">
        <div class="index-4-left">
            <h5 class="index-4-left-title"> Votre devis en 5 minutes ! <span>Calculez le coût de réalisation de votre site internet, au plus juste, en moins de 5 minutes !</span></h5>
            <a href="{{path('cosanit_devis')}}" class="index-4-left-link">DEVIS EN LIVE, cliquez ICI</a>
            <img src="asset/tmp/inspiration/5-minutes-logo-668.png" alt="Le Catalogue des supports de communication" class="index-4-left-img">
        </div>
        <div class="index-4-right">
            <h5 class="index-4-right-title">Du conseil et des idées <br> pour tous les budgets !</h5>
            <p class="index-4-right-text">Notre réactivité, notre esprit de service, nos idées novatrices, <br> nos tarifs compétitifs et il faut le dire, notre bonne humeur <br> nous ont permis de travailler depuis longtemps avec de fidèles clients.</p>
            <a href="asset/core/du-conseil-et-des-idees.html" class="index-4-right-link quickmodal-link" data-url="/asset/core/du-conseil-et-des-idees.php">En savoir +</a>
        </div>
    </div>

    <div class="index-5">
        <div class="index-5-left">
            <img src="asset/img/2-minutes.png" alt="2 minutes" class="index-5-left-img">
            <h5 class="index-5-left-title">2 minutes pour réaliser le <br> diagnostic-santé de votre comm’</h5>
            <div class="index-5-left-text">Où en êtes-vous en matière de marketing ? <br> Evaluez votre stratégie grâce à notre questionnaire exclusif : <br> répondez à 10 questions et découvrez quelle est votre “note marketing”... <br> Un moyen efficace pour faire le point en 2 minutes.</div>
            <a href="audit-marketing-gratuit.html" class="index-5-left-link">Faire le test</a>
        </div>
        <div class="index-5-right">
            <div class="index-5-right-title">Retrouvez-nous sur <strong>Facebook</strong> <br> et suivez toute l’actualité creativ web :</div>
            <div class="index-5-right-text">Chantiers en cours, nouveaux produits, photos de réalisations, <br> témoignages clients, promotions, etc...</div>
            <a href="https://web.facebook.com/creativ.agence.web" class="index-5-right-link" target="_blank">
                <img src="asset/img/suivez-nous-sur-facebook.png" alt="Suivez-nous sur Facebook" class="index-5-right-img">
            </a>
            <div class="index-5-right-flex">
                <div class="index-5-right-flex-left">
                    <i class="fas fa-thumbs-up"></i>
                    <div><strong>1999</strong> personnes aiment <strong>CREATIV</strong></div>
                </div>
                <div class="index-5-right-flex-right">
                    <i class="far fa-check-circle"></i>
                    <div><strong>2070</strong> personnes sont abonnées</div>
                </div>
            </div>
        </div>
    </div>
    <div class="galerie galerie-module-exemple">
<div class="galerie-title galerie-title-module-exemple">Nos de réalisations</div>
<div class="galerie-content">
    <div class="galerie-content-items" style="height:500px ;"> 
                                    <a href="{{asset('site4.jpg')}}" class="galerie-content-item galerie-content-item-1 image-popup" title="exemple de réalisation pour les site e-commerce">
                <img src="{{asset('site4.png')}}" alt="exemple de réalisation pour les site e-commerce" class="galerie-content-item-img">
                <span class="galerie-content-item-background">
                    <span class="galerie-content-item-text">
                        <span class="galerie-content-item-text-categorie">Site catalogue</span>
                                                        <span class="galerie-content-item-text-description">Site E-commerce pour sanaa so chic
                                                            
                                             
                                                </span>
                                               
                </span>
           
                <span class="galerie-content-item-border"></span>
            </a>
                                        <a href="{{asset('site1.jpg')}}" class="galerie-content-item galerie-content-item-2 image-popup" title="exemple de réalisation pour les site e-commerce">
                <img src="https://fullpagescreencapture.com/screen/1af0e58755a528aba44f9387da11c26f.jpg" alt="exemple de réalisation pour les site e-commerce" class="galerie-content-item-img">
                <span class="galerie-content-item-background">
                    <span class="galerie-content-item-text">
                        <span class="galerie-content-item-text-categorie">Site e-commerce</span>
                                                        <span class="galerie-content-item-text-description">Site e-commerce pour le site de Loulou B</span>
                                                </span>
                </span>
                <span class="galerie-content-item-border"></span>
            </a>
                                        <a href="{{asset('site3.png')}}" class="galerie-content-item galerie-content-item-3 image-popup" title="réalisation d'un site e-commerce ben's beauty bugs">
                <img src="{{asset('site3.png')}}" alt="réalisation d'un site e-commerce ben's beauty bugs" class="galerie-content-item-img">
                <span class="galerie-content-item-background">
                    <span class="galerie-content-item-text">
                        <span class="galerie-content-item-text-categorie">Site e-commerce</span>
                                                        <span class="galerie-content-item-text-description">réalisation d'un site e-commerce ben's beauty bugs</span>
                                                </span>
                </span>
                <span class="galerie-content-item-border"></span>
            </a>
                                        <a href="https://fullpagescreencapture.com/screen/cdba0bac676774b25abb64588d2ef7e7.jpg" class="galerie-content-item galerie-content-item-4 image-popup" title="site de vente en ligne rc drone modelisme">
                <img src="https://fullpagescreencapture.com/screen/cdba0bac676774b25abb64588d2ef7e7.jpg" alt="site de vente en ligne rc drone modelisme" class="galerie-content-item-img">
                <span class="galerie-content-item-background">
                    <span class="galerie-content-item-text">
                        <span class="galerie-content-item-text-categorie">Site e-commerce</span>
                                                        <span class="galerie-content-item-text-description">Dite de vente en ligne pour sanaa so chic</span>
                                                </span>
                </span>
                <span class="galerie-content-item-border"></span>
            </a>
                                        <a href="/asset/tmp/exemple/site-e-commerce-895-611.jpg" class="galerie-content-item galerie-content-item-5 image-popup" title="site de vente Crealisse">
                <img src="/asset/tmp/exemple/600x600/site-e-commerce-895-611.jpg" alt="site de vente Crealisse" class="galerie-content-item-img">
                <span class="galerie-content-item-background">
                    <span class="galerie-content-item-text">
                        <span class="galerie-content-item-text-categorie">Site e-commerce</span>
                                                        <span class="galerie-content-item-text-description">site de vente Créalisse</span>
                                                </span>
                </span>
                <span class="galerie-content-item-border"></span>
            </a>
                                </div>
</div>

<div class="module-exemples">
    <a href="/galerie/site-internet.php" class="module-exemples-link">EN VOIR PLUS</a>
</div>
</div>
    </main>

    <div class="bubble-question" id="bubble-question">
        <span class="bubble-question-tooltip">VOUS AVEZ DES QUESTIONS ?</span>
        <div class="bubble-question-content" id="bubble-question-content">
            <div class="bubble-question-content-title">VOUS AVEZ DES QUESTIONS ?</div>
            <div class="bubble-question-content-close" id="bubble-question-content-close">&times;</div>
            <div class="bubble-question-container-1" id="bubble-question-container-1">
                <div class="bubble-question-container-1-line bubble-question-container-1-line-1">
                    Téléphonez-nous :<br>0554 29 35 40
                    <i class="fas fa-phone" aria-hidden></i>
                </div>
                <div class="bubble-question-container-1-line bubble-question-container-1-line-2" id="bubble-question-container-1-line-2">
                    Cliquez ici pour nous<br>laisser un message
                    <i class="fas fa-envelope" aria-hidden></i>
                </div>
            </div>
            <div class="bubble-question-container-2" id="bubble-question-container-2">
                <label for="bubble-input-1">Nom :</label>
                <input type="text" name="name" id="bubble-input-1" autocomplete="off">
                <label for="bubble-input-2">Email :</label>
                <input type="text" name="email" id="bubble-input-2" autocomplete="off">
                <label for="bubble-input-3">Message :</label>
                <textarea name="content" id="bubble-input-3"></textarea>
                <div class="bubble-btn" id="bubble-btn" data-link="/asset/core/live-contact.php">Envoyer</div>
            </div>
        </div>
    </div>


<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>

      <script type="text/javascript" src="{{asset('plugins/rs-plugin/js/jquery.themepunch.tools.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('plugins/rs-plugin/js/jquery.themepunch.revolution.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('plugins/rs-plugin/js/extensions/revolution.extension.video.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('plugins/rs-plugin/js/extensions/revolution.extension.slideanims.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('plugins/rs-plugin/js/extensions/revolution.extension.actions.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('plugins/rs-plugin/js/extensions/revolution.extension.layeranimation.min.js')}}"></script>

  <script type="text/javascript" src="{{asset('plugins/rs-plugin/js/extensions/revolution.extension.navigation.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('plugins/rs-plugin/js/extensions/revolution.extension.migration.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('plugins/rs-plugin/js/extensions/revolution.extension.parallax.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('plugins/rs-plugin/js/extensions/revolution.extension.carousel.min.js')}}"></script>


  <script type="text/javascript">
      var tpj = jQuery;
      var revapi4;
      tpj(document).ready(function() {
          if (tpj("#rev_slider_4_1").revolution == undefined) {
              revslider_showDoubleJqueryError("#rev_slider_4_1");
          } else {
              revapi4 = tpj("#rev_slider_4_1").show().revolution({
                  sliderType: "standard",

                  sliderLayout: "fullscreen",
                  dottedOverlay: "none",
                  delay: 9000,
                  navigation: {
                      keyboardNavigation: "on",
                      keyboard_direction: "horizontal",
                      mouseScrollNavigation: "off",
                      onHoverStop: "off",
                      touch: {
                          touchenabled: "on",
                          swipe_threshold: 75,
                          swipe_min_touches: 1,
                          swipe_direction: "horizontal",
                          drag_block_vertical: false
                      },
                      arrows: {
                          style: "zeus",
                          enable: true,
                          hide_onmobile: true,
                          hide_under: 600,
                          hide_onleave: true,
                          hide_delay: 200,
                          hide_delay_mobile: 1200,
                          tmp: '<div class="tp-title-wrap"> 	<div class="tp-arr-imgholder"></div> </div>',
                          left: {
                              h_align: "left",
                              v_align: "center",
                              h_offset: 30,
                              v_offset: 0
                          },
                          right: {
                              h_align: "right",
                              v_align: "center",
                              h_offset: 30,
                              v_offset: 0
                          }
                      },
                      bullets: {
                          enable: false,
                          hide_onmobile: true,
                          hide_under: 600,
                          style: "metis",
                          hide_onleave: true,
                          hide_delay: 200,
                          hide_delay_mobile: 1200,
                          direction: "horizontal",
                          h_align: "center",
                          v_align: "bottom",
                          h_offset: 0,
                          v_offset: 30,
                          space: 5,
                          tmp: '<span class="tp-bullet-img-wrap"> <span class="tp-bullet-image"></span></span><span class="tp-bullet-title"></span>'
                      }
                  },
                  viewPort: {
                      enable: true,
                      outof: "pause",
                      visible_area: "80%"
                  },
                  responsiveLevels: [1240, 1024, 778, 480],
                  gridwidth: [1240, 1024, 778, 480],
                  gridheight: [600, 600, 500, 400],
                  lazyType: "all",
                  parallax: {
                      type: "mouse",
                      origo: "slidercenter",
                      speed: 2000,
                      levels: [2, 3, 4, 5, 6, 7, 12, 16, 10, 50],
                  },
                  shadow: 0,
                  spinner: "on",
                  stopLoop: "off",
                  stopAfterLoops: -1,
                  stopAtSlide: -1,
                  shuffle: "off",
                  autoHeight: "off",
                  hideThumbsOnMobile: "off",
                  hideSliderAtLimit: 0,
                  hideCaptionAtLimit: 0,
                  hideAllCaptionAtLilmit: 0,
                  debugMode: false,
                  fallbacks: {
                      simplifyAll: "off",
                      nextSlideOnWindowFocus: "off",
                      disableFocusListener: false,
                  }
              });
          }
      }); /*ready*/
  </script>

{% endblock %}