{% extends 'base.html.twig' %}{% block titre %}CREATIV | Développement web et Commmunication digitale {% endblock %}
{% block description %}{% endblock %}
    {% block canonical %}

    {% endblock %}
    {% block ldjson %}
    {% endblock %}
{% block body %}


  
<div class="header-overflow" id="header-overflow"></div>
<main>
    <div class="module-slide">
    <div id="slider1_container" style="position: relative; margin: 0px auto; top: 0px; left: 0px; width: 1349px; height: 505.875px; overflow: hidden;">

        <div style="position: absolute; top: 0px; left: 0px; width: 1600px; height: 600px; transform-origin: 0px 0px; transform: scale(0.843125);">
            <div class="" style="position: relative; margin: 0px auto; top: 0px; left: 0px; width: 1600px; height: 600px; overflow: visible;">
            
                <div u="slides" style="cursor: move; position: absolute; left: 0px; top: 0px; width: 1600px; height: 600px; overflow: hidden; z-index: 0;">
                    
                       
                {% for banniere in banners %}

             <div style="width: 1600px; height: 600px; top: 0px; left: 0; position: absolute; overflow: hidden; transform: perspective(2000px);"><img u="image" src="{{ asset('Bannieres/'~banniere.path) }}" alt="pack web présence" border="0" style="width: 1600px; height: 600px; top: 0px; left: 0px; transform: perspective(2000px); position: absolute;">
                
                    </div>
       
            {% endfor %}
           
            

          
                </div>
             
            </div>
        </div><span u="arrowleft" class="jssora21l" style="width: 55px; height: 55px; top: 225.438px; left: 8px; display: none;"></span><span u="arrowright" class="jssora21r" style="width: 55px; height: 55px; top: 225.438px; right: 8px; display: none;"></span>
        <div
            u="navigator" class="jssorb17" style="position: absolute; bottom: 16px; right: 6px; width: 121px; height: 16px; left: 614px;">

            <div u="prototype" style="position: absolute; width: 16px; height: 16px; left: 0px; top: 0px;" class="av"></div>
      
    </div>
</div>


    <div class="index-1">
        <div class="index-1-content">
            <div class="index-1-btn" id="index-1-btn">
                <div class="index-1-top-title">Quelques mots à propos de</div>
                <div class="index-1-middle-title"><span>Notre</span> entreprise</div>
            </div>
   
        

          
        </div>
            {% for apropos in apropos %}

            {{ apropos.text1|raw }}

            {% endfor %}

            
        </div>
    </div>



    <div class="index-3">
        <div class="index-3-items">

        {% for categorie in categories  %}
         

                  <a href="{{ path('cosanit_produits_categorie', { 'id': categorie.slug }) }}" class="index-3-item index-3-item-{{ categorie.id }}">
                <div class="index-3-item-img">
                    <img src="{{ asset('photos_produits/'~categorie.photo[0].path) }}" alt="Site internet sur-mesure">
                    <div class="index-3-item-img-plus"><i class="fas fa-plus"></i></div>
                </div>
                <div class="index-3-item-active">
                    <div class="index-3-item-active-content">
                        <h2 class="index-3-item-title">{{ categorie.nom }}</h2>
                        <h3 class="index-3-item-subtitle">{{ categorie.titre }}</h3>
                        <h4 class="index-3-item-text">{{ categorie.nom }}</h4>
                        <div class="index-3-item-plus">En savoir +</div>
                    </div>
                </div>
            </a>				

        {% endfor %}

          
        </div>
    </div>

    <div class="index-4">
        <div class="index-4-left">
            <h5 class="index-4-left-title"> Votre devis en 5 minutes ! <span>Calculez le coût de réalisation de votre site internet, au plus juste, en moins de 5 minutes !</span></h5>
            <a href="{{path('cosanit_devis')}}" class="index-4-left-link">DEVIS EN LIVE, cliquez ICI</a>
            <img src="asset/tmp/inspiration/5-minutes-logo-668.png" alt="Le Catalogue des supports de communication" class="index-4-left-img">
        </div>
        <div class="index-4-right">
            <h5 class="index-4-right-title">Du conseil et des idées <br> pour tous les budgets !</h5>
            <p class="index-4-right-text">Notre réactivité, notre esprit de service, nos idées novatrices, <br> nos tarifs compétitifs et il faut le dire, notre bonne humeur <br> nous ont permis de travailler depuis longtemps avec de fidèles clients.</p>
            <a href="asset/core/du-conseil-et-des-idees.html" class="index-4-right-link quickmodal-link" data-url="/asset/core/du-conseil-et-des-idees.php">En savoir +</a>
        </div>
    </div>

    <div class="index-5">
        <div class="index-5-left">
            <img src="asset/img/2-minutes.png" alt="2 minutes" class="index-5-left-img">
            <h5 class="index-5-left-title">2 minutes pour réaliser le <br> diagnostic-santé de votre comm’</h5>
            <div class="index-5-left-text">Où en êtes-vous en matière de marketing ? <br> Evaluez votre stratégie grâce à notre questionnaire exclusif : <br> répondez à 10 questions et découvrez quelle est votre “note marketing”... <br> Un moyen efficace pour faire le point en 2 minutes.</div>
            <a href="audit-marketing-gratuit.html" class="index-5-left-link">Faire le test</a>
        </div>
        <div class="index-5-right">
            <div class="index-5-right-title">Retrouvez-nous sur <strong>Facebook</strong> <br> et suivez toute l’actualité creativ web :</div>
            <div class="index-5-right-text">Chantiers en cours, nouveaux produits, photos de réalisations, <br> témoignages clients, promotions, etc...</div>
            <a href="https://web.facebook.com/creativ.agence.web" class="index-5-right-link" target="_blank">
                <img src="asset/img/suivez-nous-sur-facebook.png" alt="Suivez-nous sur Facebook" class="index-5-right-img">
            </a>
            <div class="index-5-right-flex">
                <div class="index-5-right-flex-left">
                    <i class="fas fa-thumbs-up"></i>
                    <div><strong>1999</strong> personnes aiment <strong>CREATIV</strong></div>
                </div>
                <div class="index-5-right-flex-right">
                    <i class="far fa-check-circle"></i>
                    <div><strong>2070</strong> personnes sont abonnées</div>
                </div>
            </div>
        </div>
    </div>
    <div class="galerie galerie-module-exemple">
<div class="galerie-title galerie-title-module-exemple">Nos de réalisations</div>
<div class="galerie-content">
    <div class="galerie-content-items" style="height:500px ;"> 
                                    <a href="{{asset('site2.jpg')}}" class="galerie-content-item galerie-content-item-1 image-popup" title="exemple de réalisation pour les site e-commerce">
                <img src="https://fullpagescreencapture.com/screen/cdba0bac676774b25abb64588d2ef7e7.jpg
                " alt="exemple de réalisation pour les site e-commerce" class="galerie-content-item-img">
                <span class="galerie-content-item-background">
                    <span class="galerie-content-item-text">
                        <span class="galerie-content-item-text-categorie">Site e-commerce</span>
                                                        <span class="galerie-content-item-text-description">Site e-commerce pour NDWI</span>
                                                </span>
                </span>
                <span class="galerie-content-item-border"></span>
            </a>
                                        <a href="{{asset('site1.jpg')}}" class="galerie-content-item galerie-content-item-2 image-popup" title="exemple de réalisation pour les site e-commerce">
                <img src="https://fullpagescreencapture.com/screen/1af0e58755a528aba44f9387da11c26f.jpg" alt="exemple de réalisation pour les site e-commerce" class="galerie-content-item-img">
                <span class="galerie-content-item-background">
                    <span class="galerie-content-item-text">
                        <span class="galerie-content-item-text-categorie">Site e-commerce</span>
                                                        <span class="galerie-content-item-text-description">Site e-commerce pour le site de Loulou B</span>
                                                </span>
                </span>
                <span class="galerie-content-item-border"></span>
            </a>
                                        <a href="/asset/tmp/exemple/site-e-commerce-254-645.jpg" class="galerie-content-item galerie-content-item-3 image-popup" title="réalisation d'un site e-commerce ben's beauty bugs">
                <img src="/asset/tmp/exemple/300x300/site-e-commerce-254-645.jpg" alt="réalisation d'un site e-commerce ben's beauty bugs" class="galerie-content-item-img">
                <span class="galerie-content-item-background">
                    <span class="galerie-content-item-text">
                        <span class="galerie-content-item-text-categorie">Site e-commerce</span>
                                                        <span class="galerie-content-item-text-description">réalisation d'un site e-commerce ben's beauty bugs</span>
                                                </span>
                </span>
                <span class="galerie-content-item-border"></span>
            </a>
                                        <a href="/asset/tmp/exemple/site-e-commerce-854-653.jpg" class="galerie-content-item galerie-content-item-4 image-popup" title="site de vente en ligne rc drone modelisme">
                <img src="/asset/tmp/exemple/300x300/site-e-commerce-854-653.jpg" alt="site de vente en ligne rc drone modelisme" class="galerie-content-item-img">
                <span class="galerie-content-item-background">
                    <span class="galerie-content-item-text">
                        <span class="galerie-content-item-text-categorie">Site e-commerce</span>
                                                        <span class="galerie-content-item-text-description">site de vente en ligne rc drone modelisme</span>
                                                </span>
                </span>
                <span class="galerie-content-item-border"></span>
            </a>
                                        <a href="/asset/tmp/exemple/site-e-commerce-895-611.jpg" class="galerie-content-item galerie-content-item-5 image-popup" title="site de vente Crealisse">
                <img src="/asset/tmp/exemple/600x600/site-e-commerce-895-611.jpg" alt="site de vente Crealisse" class="galerie-content-item-img">
                <span class="galerie-content-item-background">
                    <span class="galerie-content-item-text">
                        <span class="galerie-content-item-text-categorie">Site e-commerce</span>
                                                        <span class="galerie-content-item-text-description">site de vente Créalisse</span>
                                                </span>
                </span>
                <span class="galerie-content-item-border"></span>
            </a>
                                </div>
</div>

<div class="module-exemples">
    <a href="/galerie/site-internet.php" class="module-exemples-link">EN VOIR PLUS</a>
</div>
</div>
    </main>

    <div class="bubble-question" id="bubble-question">
        <span class="bubble-question-tooltip">VOUS AVEZ DES QUESTIONS ?</span>
        <div class="bubble-question-content" id="bubble-question-content">
            <div class="bubble-question-content-title">VOUS AVEZ DES QUESTIONS ?</div>
            <div class="bubble-question-content-close" id="bubble-question-content-close">&times;</div>
            <div class="bubble-question-container-1" id="bubble-question-container-1">
                <div class="bubble-question-container-1-line bubble-question-container-1-line-1">
                    Téléphonez-nous :<br>0554 29 35 40
                    <i class="fas fa-phone" aria-hidden></i>
                </div>
                <div class="bubble-question-container-1-line bubble-question-container-1-line-2" id="bubble-question-container-1-line-2">
                    Cliquez ici pour nous<br>laisser un message
                    <i class="fas fa-envelope" aria-hidden></i>
                </div>
            </div>
            <div class="bubble-question-container-2" id="bubble-question-container-2">
                <label for="bubble-input-1">Nom :</label>
                <input type="text" name="name" id="bubble-input-1" autocomplete="off">
                <label for="bubble-input-2">Email :</label>
                <input type="text" name="email" id="bubble-input-2" autocomplete="off">
                <label for="bubble-input-3">Message :</label>
                <textarea name="content" id="bubble-input-3"></textarea>
                <div class="bubble-btn" id="bubble-btn" data-link="/asset/core/live-contact.php">Envoyer</div>
            </div>
        </div>
    </div>

{% endblock %}